<h3>Index of all Dinos:</h3>
<ul>
    <% dinos.forEach((dino, id)=> { %>

        <li>
            <a href="/dinosaurs/<%= id %>"><%= dino.name %></a> is a <%= dino.type %>
        </li>

        <a href="/dinosaurs/edit/<%= id %>">Edit</a>
        <form method="POST" action="/dinosaurs/<%= id %>/?_method=DELETE">
            <input type="submit" value="delete">
        </form>

        <%}) %>
</ul>